version: '3.7'

services:
  portainer:
    image: portainer/portainer
    restart: always
    env_file:
      - portainer.env
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
