#######################################################################
# Wiki.js - CONFIGURATION                                             #
#######################################################################
# Full explanation + examples in the documentation:
# https://docs.requarks.io/wiki/install
# You can use an ENV variable by using $(ENV_VAR_NAME) as the value

# ---------------------------------------------------------------------
# Title of this site
# ---------------------------------------------------------------------

title: Wiki

# ---------------------------------------------------------------------
# Full public path to the site, without the trailing slash
# ---------------------------------------------------------------------
# INCLUDE CLIENT PORT IF NOT 80/443!

host: http://localhost

# ---------------------------------------------------------------------
# Port the main server should listen to (80 by default)
# ---------------------------------------------------------------------
# To use process.env.PORT, comment the line below:

port: 3000

# ---------------------------------------------------------------------
# Data Directories
# ---------------------------------------------------------------------

paths:
  repo: /var/wiki/repo
  data: /var/wiki/data

# ---------------------------------------------------------------------
# Upload Limits
# ---------------------------------------------------------------------
# In megabytes (MB)

uploads:
  maxImageFileSize: 3
  maxOtherFileSize: 100

# ---------------------------------------------------------------------
# Site Language
# ---------------------------------------------------------------------
# Possible values: en, de, es, fa, fr, ja, ko, nl, pt, ru, sr, sv, tr or zh

lang: en

# Enable for right to left languages (e.g. arabic):
langRtl: false

# ---------------------------------------------------------------------
# Site Authentication
# ---------------------------------------------------------------------

public: false

auth:
  defaultReadAccess: false
  local:
    enabled: true
  google:
    enabled: false
    clientId: 
    clientSecret: 
  microsoft:
    enabled: false
    clientId: 
    clientSecret: 
  facebook:
    enabled: false
    clientId: 
    clientSecret: 
  github:
    enabled: false
    clientId: 
    clientSecret: 
  slack:
    enabled: false
    clientId: ''
    clientSecret: ''
  ldap:
    enabled: false
    url: ldap://serverhost:389
    bindDn: "cn='root'"
    bindCredentials: BIND_PASSWORD
    searchBase: "o=users,o=example.com"
    searchFilter: (uid={{username}})
    tlsEnabled: false
    tlsCertPath: "C:\example\root_ca_cert.crt"
  azure:
    enabled: false
    clientId: 
    clientSecret: 
    resource: '00000002-0000-0000-c000-000000000000'
    tenant: 'YOUR_TENANT.onmicrosoft.com'
  oauth2:
    enabled: false
    clientId: 
    clientSecret: 
    authorizationURL: 
    tokenURL: 
  oidc:
    enabled: false
    clientId: 
    clientSecret: 
    issuer: 
    userInfoUrl: 
    authorizationURL: 
    tokenURL: 
    emailClaim: 
    usernameClaim: 
# ---------------------------------------------------------------------
# Secret key to use when encrypting sessions
# ---------------------------------------------------------------------
# Use a long and unique random string (256-bit keys are perfect!)

sessionSecret: 1234567890abcdefghijklmnopqrstuvxyz

# ---------------------------------------------------------------------
# Database Connection String
# ---------------------------------------------------------------------

db: mongodb://db:27017/wiki

# ---------------------------------------------------------------------
# Git Connection Info
# ---------------------------------------------------------------------

git:
  url: https://bitbucket.com/shawly/wikijs
  branch: master
  auth:

    # Type: basic or ssh
    type: ssh

    # Only for Basic authentication:
    username: 
    password: 

    # Only for SSH authentication:
    privateKey: /etc/wiki/keys/git-private.pem

    sslVerify: true

  # Default email to use as commit author
  serverEmail: timo.hendricks@gmail.com

  # Whether to use user email as author in commits
  showUserEmail: true

# ---------------------------------------------------------------------
# Features
# ---------------------------------------------------------------------
# You can enable / disable specific features below

features:
  linebreaks: true
  mathjax: true

# ---------------------------------------------------------------------
# External Logging
# ---------------------------------------------------------------------

externalLogging:
  bugsnag: false
  loggly: false
  papertrail: false
  rollbar: false
  sentry: false

# ---------------------------------------------------------------------
# Color Theme
# ---------------------------------------------------------------------

theme:
  primary: indigo
  alt: blue-grey
  viewSource: all # all | write | false
  footer: blue-grey
  code:
    dark: true
    colorize: true

